.InnerGIGABYTEContent html,
.InnerGIGABYTEContent body,
.InnerGIGABYTEContent div,
.InnerGIGABYTEContent span,
.InnerGIGABYTEContent applet,
.InnerGIGABYTEContent object,
.InnerGIGABYTEContent iframe,
.InnerGIGABYTEContent h1,
.InnerGIGABYTEContent h2,
.InnerGIGABYTEContent h3,
.InnerGIGABYTEContent h4,
.InnerGIGABYTEContent h5,
.InnerGIGABYTEContent h6,
.InnerGIGABYTEContent p,
.InnerGIGABYTEContent blockquote,
.InnerGIGABYTEContent pre,
.InnerGIGABYTEContent a,
.InnerGIGABYTEContent abbr,
.InnerGIGABYTEContent acronym,
.InnerGIGABYTEContent address,
.InnerGIGABYTEContent big,
.InnerGIGABYTEContent cite,
.InnerGIGABYTEContent code,
.InnerGIGABYTEContent del,
.InnerGIGABYTEContent dfn,
.InnerGIGABYTEContent em,
.InnerGIGABYTEContent img,
.InnerGIGABYTEContent ins,
.InnerGIGABYTEContent kbd,
.InnerGIGABYTEContent q,
.InnerGIGABYTEContent s,
.InnerGIGABYTEContent samp,
.InnerGIGABYTEContent small,
.InnerGIGABYTEContent strike,
.InnerGIGABYTEContent strong,
.InnerGIGABYTEContent sub,
.InnerGIGABYTEContent sup,
.InnerGIGABYTEContent tt,
.InnerGIGABYTEContent var,
.InnerGIGABYTEContent b,
.InnerGIGABYTEContent u,
.InnerGIGABYTEContent i,
.InnerGIGABYTEContent center,
.InnerGIGABYTEContent dl,
.InnerGIGABYTEContent dt,
.InnerGIGABYTEContent dd,
.InnerGIGABYTEContent ol,
.InnerGIGABYTEContent ul,
.InnerGIGABYTEContent li,
.InnerGIGABYTEContent fieldset,
.InnerGIGABYTEContent form,
.InnerGIGABYTEContent label,
.InnerGIGABYTEContent legend,
.InnerGIGABYTEContent table,
.InnerGIGABYTEContent caption,
.InnerGIGABYTEContent tbody,
.InnerGIGABYTEContent tfoot,
.InnerGIGABYTEContent thead,
.InnerGIGABYTEContent tr,
.InnerGIGABYTEContent th,
.InnerGIGABYTEContent td,
.InnerGIGABYTEContent article,
.InnerGIGABYTEContent aside,
.InnerGIGABYTEContent canvas,
.InnerGIGABYTEContent details,
.InnerGIGABYTEContent embed,
.InnerGIGABYTEContent figure,
.InnerGIGABYTEContent figcaption,
.InnerGIGABYTEContent footer,
.InnerGIGABYTEContent header,
.InnerGIGABYTEContent hgroup,
.InnerGIGABYTEContent menu,
.InnerGIGABYTEContent nav,
.InnerGIGABYTEContent output,
.InnerGIGABYTEContent ruby,
.InnerGIGABYTEContent section,
.InnerGIGABYTEContent summary,
.InnerGIGABYTEContent time,
.InnerGIGABYTEContent mark,
.InnerGIGABYTEContent audio,
.InnerGIGABYTEContent video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Rajdhani";
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
}

/* HTML5 display-role reset for older browsers */
.InnerGIGABYTEContent article,
.InnerGIGABYTEContent aside,
.InnerGIGABYTEContent details,
.InnerGIGABYTEContent figcaption,
.InnerGIGABYTEContent figure,
.InnerGIGABYTEContent footer,
.InnerGIGABYTEContent header,
.InnerGIGABYTEContent hgroup,
.InnerGIGABYTEContent menu,
.InnerGIGABYTEContent nav,
.InnerGIGABYTEContent section {
  display: block;
}
.InnerGIGABYTEContent body {
  line-height: 1;
}
.InnerGIGABYTEContent ol,
.InnerGIGABYTEContent ul {
  list-style: none;
}
.InnerGIGABYTEContent blockquote,
.InnerGIGABYTEContent q {
  quotes: none;
}
.InnerGIGABYTEContent blockquote:before,
.InnerGIGABYTEContent blockquote:after,
.InnerGIGABYTEContent q:before,
.InnerGIGABYTEContent q:after {
  content: "";
  content: none;
}
.InnerGIGABYTEContent table {
  border-collapse: collapse;
  border-spacing: 0;
}
.InnerGIGABYTEContent .flick {
  color: rgb(93, 93, 93);
  animation: flick 0.4s ease-in infinite alternate-reverse;
}
@keyframes flick {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: "Rajdhani";
  src: url(../font/Rajdhani-SemiBold.ttf);
}
@font-face {
  font-family: "Rajdhani_Bold";
  src: url(../font/Rajdhani-Bold.ttf);
}
/* color */
.InnerGIGABYTEContent .text-main-blue {
  color: var(--main-blue);
}
.InnerGIGABYTEContent .text-light-grey {
  color: var(--light-grey);
}
.InnerGIGABYTEContent .bg-light-grey {
  background-color: var(--light-grey);
}
.InnerGIGABYTEContent .text-dark-grey {
  color: var(--dark-grey);
}
.InnerGIGABYTEContent .bg-dark-grey {
  background-color: var(--dark-grey);
}
.InnerGIGABYTEContent .text-blue-green {
  color: #0ed1d6;
}
.InnerGIGABYTEContent .bg-blue-green {
  background-color: #0ed1d6;
}
.InnerGIGABYTEContent .bg-blue-gradient {
  background: var(--main-blue-gradient);
}
/* ------  s01  ------ */
.InnerGIGABYTEContent .s01 {
  position: relative;
  height: 160vw;
  overflow: hidden;
}
.InnerGIGABYTEContent .s01__bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(./../innergigabyteimages2/banner_bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
.InnerGIGABYTEContent .s01__banner-wrapper {
  padding-top: 50px;
  padding-bottom: 15px;
  max-width: 1086px;
}
.InnerGIGABYTEContent .s01__banner-text-wrapper {
  padding-bottom: 15%;
}
.InnerGIGABYTEContent .s01__title {
  padding-bottom: 5%;
}
.InnerGIGABYTEContent .s01__subtitle {
  padding-bottom: 8%;
}
.InnerGIGABYTEContent .s01__title img,
.InnerGIGABYTEContent .s01__subtitle img,
.InnerGIGABYTEContent .s01__hardware-tag img {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.InnerGIGABYTEContent .s01__hardware-tag img {
  max-width: 329px;
}
.InnerGIGABYTEContent .s01__hardware img {
  display: block;
  width: 60%;
  margin: 0 auto;
}
/* ------  s01  ------ */
/* ------  s02  ------ */
.InnerGIGABYTEContent .s02 > div {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 56.25%;
}
.InnerGIGABYTEContent .s02 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
/* ------  s02  ------ */

.InnerGIGABYTEContent .s03_s04 {
  background: url(./../innergigabyteimages2/section02_bg.png) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* ------  s03  ------ */
.InnerGIGABYTEContent .s03 {
  position: relative;
  padding: 0px 15px 50px;
  /* height: 100vh; */
  height: 75vh;
  overflow: scroll;
}
.InnerGIGABYTEContent .s03::-webkit-scrollbar {
  display: none;
}
.InnerGIGABYTEContent #s03__banner-content_02{
  margin-bottom: 100px;
}
.InnerGIGABYTEContent .s03__bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(./../innergigabyteimages2/banner_bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
.InnerGIGABYTEContent .s03__banner-content {
  position: relative;
  top: 0%;
  left: 0;
}

.InnerGIGABYTEContent .s03__banner-content--fade-in {
  opacity: 0;
}

.InnerGIGABYTEContent .s03__title {
  padding-top: 70px;
  padding-bottom: 3%;
}
.InnerGIGABYTEContent .s03__title img {
  display: block;
  width: 90%;
  /* margin: 0 auto; */
}
.InnerGIGABYTEContent .s03__prod {
  padding-bottom: 12%;
}
.InnerGIGABYTEContent .s03__prod img {
  display: block;
  width: 80%;
  transform: translate(1%, 0);
}
.InnerGIGABYTEContent .s03__desc {
  text-align: center;
}
.InnerGIGABYTEContent .s03__desc span {
  position: relative;
  display: inline;
  font-family: "Rajdhani_Bold";
  font-size: 4.8rem;
  font-weight: 700 !important;
  line-height: 6.1rem;
  letter-spacing: 0em;
  text-transform: capitalize;
  background: var(--main-blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 3px solid;
  border-image: var(--main-blue-gradient) 1;
}
.InnerGIGABYTEContent .s03__tab2-img {
  width: 100%;
  height: 80vw;
  /* background-color: beige; */
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
  background: url(./../innergigabyteimages2/compared.png) no-repeat;
  background-size: contain;
  background-position: center center;
}
.InnerGIGABYTEContent .s03__tab2-desc {
  background: var(--main-blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 2.5rem;
  text-align: center;
}

/* ------  s03  ------ */
/* ------  s04  ------ */
.InnerGIGABYTEContent .s04 {
  padding-bottom: 30px;
}
.InnerGIGABYTEContent .s04__tab {
  width: 100%;
  max-width: 556px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  margin: 0 auto;
}
.InnerGIGABYTEContent .s04__tab-link {
  padding: 5px 15px;
  border: none;
  background-color: transparent;
  color: var(--dark-grey);
}
.InnerGIGABYTEContent .s04__tab-link:focus,
.InnerGIGABYTEContent .s04__tab-link:active {
  outline: none;
  background-color: transparent;
}
.InnerGIGABYTEContent .s04__tab-link.active {
  border-bottom: 3px solid var(--main-blue);
  color: var(--main-blue);
}
.InnerGIGABYTEContent .s04__tab-content {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
}
.InnerGIGABYTEContent .s04__tab-pane {
  display: none;
}
.InnerGIGABYTEContent .s04__tab-pane.active {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
}
.InnerGIGABYTEContent .s04__tab-pane__title {
  background: var(--main-blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.InnerGIGABYTEContent .s04__tab-pane__p {
  max-width: 1184px;
  margin: 0 auto;
}
.InnerGIGABYTEContent .s04__tab-pane__inner-content {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.InnerGIGABYTEContent .s04__tab-pane__inner-content__wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.InnerGIGABYTEContent .s04__tab-pane__inner-content__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.InnerGIGABYTEContent .s04__tab-pane__div > * {
  margin-right: 3px;
}
.InnerGIGABYTEContent .s04__tab-pane__div-1 {
  width: 15px;
  height: 15px;
  background-color: #2800fd;
}
.InnerGIGABYTEContent .s04__tab-pane__div-2 {
  width: 15px;
  height: 15px;
  background-color: #0ed1d6;
}
/* .progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #ddd;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: blue;
  transition: width 1s ease-out;
} */

.InnerGIGABYTEContent .s04__tab-pane__inner-content__bar-container {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
  height: 28px;
}
.InnerGIGABYTEContent .s04__tab-pane__inner-content__bar {
  width: 0;
  height: 100%;
  transition: width 0.8s ease-in-out;
  border-radius: 0px 20px 20px 0px;
}
.InnerGIGABYTEContent .s04__tab-pane__inner-content__info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.InnerGIGABYTEContent .mySwiper-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.InnerGIGABYTEContent .swiper {
  width: 100%;
  height: auto;
}
.InnerGIGABYTEContent .swiper-slide {
  width: 100%;
  /* text-align: center; */
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px !important;
}

.InnerGIGABYTEContent .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.InnerGIGABYTEContent .swiper-button-next {
  z-index: 100;
  transform: translate(0%, 0);
}
.InnerGIGABYTEContent .swiper-button-prev {
  transform: translate(0%, 0);
}
.InnerGIGABYTEContent .swiper-button-next,
.swiper-button-prev {
  background: var(--main-blue-gradient);
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}
.InnerGIGABYTEContent .swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.6rem !important;
  color: #fff;
}
/* ------  s04  ------ */

/* ------  s05  ------ */
.InnerGIGABYTEContent .s05,
.InnerGIGABYTEContent .s08 {
  position: relative;
  padding: 30px 0px;
}
.InnerGIGABYTEContent .s05__bg,
.InnerGIGABYTEContent .s08__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./../innergigabyteimages2/blue_gradient_bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
.InnerGIGABYTEContent .s05__tab-area,
.InnerGIGABYTEContent .s08__tab-area {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 0px;
  padding: 10px;
  background: var(--main-blue-gradient);
  border-radius: 40px 40px 0px 0px;
  overflow-x: scroll;
}
.InnerGIGABYTEContent .s05__tab-area::-webkit-scrollbar,
.InnerGIGABYTEContent .s08__tab-area::-webkit-scrollbar {
  display: none;
}
.InnerGIGABYTEContent .s05__tab,
.InnerGIGABYTEContent .s08__tab {
  color: white;
  padding: 5px 15px;
  border: none;
  background-color: transparent;
  white-space: nowrap;
}
.InnerGIGABYTEContent .s05__tab:focus,
.InnerGIGABYTEContent .s05__tab:active,
.InnerGIGABYTEContent .s08__tab:focus,
.InnerGIGABYTEContent .s08__tab:active {
  outline: none;
  background-color: transparent;
}
.InnerGIGABYTEContent .s05__tab.active,
.InnerGIGABYTEContent .s08__tab.active {
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 73px;
  background: rgba(255, 255, 255, 0.16);
}
.InnerGIGABYTEContent .s05__tab-content,
.InnerGIGABYTEContent .s08__tab-content {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px;
}
.InnerGIGABYTEContent .s05__tab-pane,
.InnerGIGABYTEContent .s08__tab-pane {
  display: none;
}

.InnerGIGABYTEContent .s05__tab-pane.active,
.InnerGIGABYTEContent .s08__tab-pane.active {
  display: flex !important;
  flex-direction: column;
  gap: 15px;
}
.InnerGIGABYTEContent .s05__tab-pane_01__feature {
  margin-bottom: 5%;
}
.InnerGIGABYTEContent .s05__tab-pane_01__feature h3 {
  padding-bottom: 5%;
}
.InnerGIGABYTEContent .s05__tab-pane_01_img img {
  width: 100%;
  height: auto;
}

.InnerGIGABYTEContent .s05__tab-pane__02__tab-area {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
}
.InnerGIGABYTEContent .s05__tab-pane__inner-pane {
  display: none;
}
.InnerGIGABYTEContent .s05__tab-pane__inner-pane.active {
  display: block;
}
.InnerGIGABYTEContent .s05__tab-pane__02__tab,
.InnerGIGABYTEContent .s05__tab-pane__03__tab {
  padding: 5px 15px;
  border: none;
  background-color: transparent;
  color: var(--dark-grey);
}
.InnerGIGABYTEContent .s05__tab-pane__02__tab:focus,
.InnerGIGABYTEContent .s05__tab-pane__02__tab:active,
.InnerGIGABYTEContent .s05__tab-pane__03__tab:focus,
.InnerGIGABYTEContent .s05__tab-pane__03__tab:active {
  outline: none;
  background-color: transparent;
}
.InnerGIGABYTEContent .s05__tab-pane__02__tab.active,
.InnerGIGABYTEContent .s05__tab-pane__03__tab.active {
  border-bottom: 3px solid var(--main-blue);
  color: var(--main-blue);
}
.InnerGIGABYTEContent .s08__tab-pane__img01 {
  width: 100%;
  height: 50vw;
  background: url(./../innergigabyteimages2/home_pc_img.png) no-repeat;
  background-size: auto 100%;
  object-fit: cover;
  background-position: center center;
  border-radius: 10px;
  overflow: hidden;
}
.InnerGIGABYTEContent .s08__tab-pane__img02 {
  width: 100%;
  height: 50vw;
  background: url(./../innergigabyteimages2/vertical_market_img.png) no-repeat;
  background-size: 100% auto;
  object-fit: cover;
  background-position: center center;
  border-radius: 10px;
  overflow: hidden;
}
.InnerGIGABYTEContent .s08__tab-pane__img04 {
  background: url(./../innergigabyteimages2/scenarios-mobile-1.49164cdd.png)
    no-repeat;
  width: 100%;
  height: 50vw;
  background-size: 100% auto;
  object-fit: cover;
  background-position: center center;
  border-radius: 10px;
  overflow: hidden;
}
.InnerGIGABYTEContent .s08__tab-pane__img05 {
  background: url(./../innergigabyteimages2/scenarios-mobile-2.a806e684.png)
    no-repeat;
  width: 100%;
  height: 50vw;
  background-size: 100% auto;
  object-fit: cover;
  background-position: center center;
  border-radius: 10px;
  overflow: hidden;
}
.InnerGIGABYTEContent .s08__tab-pane__img06 {
  background: url(./../innergigabyteimages2/scenarios-mobile-4.848079c4.png)
    no-repeat;
  width: 100%;
  height: 50vw;
  background-size: 100% auto;
  object-fit: cover;
  background-position: center center;
  border-radius: 10px;
  overflow: hidden;
}
.InnerGIGABYTEContent .s08__list-container {
  margin: 30px;
  width: fit-content;
}
.InnerGIGABYTEContent .s08__list-container ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 0;
}
.InnerGIGABYTEContent .s08__fade-up-list ul {
  margin: 0;
  padding: 0;
}

.InnerGIGABYTEContent .s08__fade-up-list li {
  opacity: 0;
  color: white;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.InnerGIGABYTEContent .s08__fade-up-list li.fade-up-enter {
  opacity: 1;
  transform: translateY(0);
}
.InnerGIGABYTEContent .s08__fade-up-list.title li {
  list-style: none;
}
/* ------  s05  ------ */
/* ------  s06  ------ */
.InnerGIGABYTEContent .s06 {
  position: relative;
  padding: 30px 0px;
  overflow: hidden;
}
.InnerGIGABYTEContent .s06__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./../innergigabyteimages2/s06_bg.png) no-repeat;
  background-position: center center;
  background-size: cover;
}
.InnerGIGABYTEContent .s06__title {
  background: var(--main-blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.InnerGIGABYTEContent .s06__prod__wrapper {
  width: 100%;
  height: 25vw;
  display: flex;
  margin: 30px 0;
}
.InnerGIGABYTEContent .s06__prod__front {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 0 5px;
  overflow: hidden;
}
.InnerGIGABYTEContent .s06__prod__front img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.InnerGIGABYTEContent .s06__prod__detail__wrapper {
  width: 50%;
}
.InnerGIGABYTEContent .s06__prod__front__detail {
  width: 100%;
  margin: 0 auto;
  max-width: 288px;
}
.InnerGIGABYTEContent .s06__prod__front__detail img {
  width: 100%;
}
.InnerGIGABYTEContent .s06__prod__cable,
.InnerGIGABYTEContent .s06__prod__cable img {
  width: 100%;
}
.InnerGIGABYTEContent .s06__info-detail-item:not(:last-child) {
  border-right: 1px solid black;
}
/* ------  s06  ------ */

/* ------  s07  ------ */
.InnerGIGABYTEContent .s07 {
  position: relative;
  padding: 30px 0px;
}
.InnerGIGABYTEContent .s07__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./../innergigabyteimages2/s06_bg.png) no-repeat;
  transform: rotate(180deg);
  background-position: center center;
  background-size: cover;
}
.InnerGIGABYTEContent .s07__title {
  background: var(--main-blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.InnerGIGABYTEContent .s07__prod {
  width: 100%;
  padding: 40px 45px;
  display: flex;
  justify-content: center;
}
.InnerGIGABYTEContent .s07__prod img {
  width: 80%;
}
.InnerGIGABYTEContent .s07__prod-feature {
  width: 100%;
  padding: 10px 45px;
}
.InnerGIGABYTEContent .s07__prod-feature img {
  width: 100%;
}
/* ------  s07  ------ */
/* ------  s09  ------ */
.InnerGIGABYTEContent .s09 {
  position: relative;
  padding: 30px 0px;
  /* min-height: 100vh; */
  overflow: hidden;
}
.InnerGIGABYTEContent .s09__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./../innergigabyteimages2/win_bg_mb.png) no-repeat;
  background-position: center center;
  background-size: cover;
}
.InnerGIGABYTEContent .s09__title__mb {
  background: linear-gradient(293.46deg, #0acaff 0%, #2800fd 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.InnerGIGABYTEContent .s09_info_mb {
  padding: 25px 15px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  border-radius: 20px;
}
.InnerGIGABYTEContent .s09__win11 {
  width: 100%;
}
.InnerGIGABYTEContent .s09__win11 img {
  width: 100%;
}
.InnerGIGABYTEContent .s09__title__pc {
  position: relative;
  color: white;
  text-shadow: 0px 4px 2px #000000c4;
  text-align: center;
}
.InnerGIGABYTEContent .s09__title__pc::after {
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 110%;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
}
/* ------  s09  ------ */
/* ------  s10  ------ */
.InnerGIGABYTEContent .s10 {
  position: relative;
  min-height: 100vh;
  padding: 5% 0px;
  overflow: hidden;
}
.InnerGIGABYTEContent .s10__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./../innergigabyteimages2/win_bg_02_pc.png) no-repeat;
  background-position: center center;
  background-size: cover;
}
.InnerGIGABYTEContent .s10__win11 {
  width: 100%;
}
.InnerGIGABYTEContent .s10__win11 img {
  width: 100%;
}
/* ------  s10  ------ */
.InnerGIGABYTEContent .nav-block {
  position: fixed;
  bottom: 30%;
  right: 2%;
  z-index: 5000;
  display: none;
}
.InnerGIGABYTEContent .nav-block .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.InnerGIGABYTEContent .nav-block .nav-list__item__link {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  text-decoration: none;
}

.InnerGIGABYTEContent .nav-block .nav-list__item__link span {
  display: none;
  line-height: 1;
  font-size: 12px;
  color: #009cf9;
  margin-top: 2px;
}

.InnerGIGABYTEContent .nav-block .nav-list__item__link::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #949494;
  margin-left: 10px;
  transition: all 0.4s;
}

.InnerGIGABYTEContent .nav-block .nav-list__item__link:hover span {
  display: block;
}

.InnerGIGABYTEContent .nav-block .nav-list__item__link:hover::after {
  height: 20px;
  background-color: #009cf9;
}

.InnerGIGABYTEContent .nav-block .active .nav-list__item__link::after {
  background-color: #009cf9;
}
/* sm */
@media (min-width: 576px) {
  .InnerGIGABYTEContent .s01 {
    height: 100vh;
    min-height: 100vh;
  }

  .InnerGIGABYTEContent .s07__prod img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .InnerGIGABYTEContent .s03__desc span {
    font-size: 3.5rem;
  }
  .InnerGIGABYTEContent #s03__banner-content_02{
    margin-bottom: 0px;
  }
}
/* md */
@media (min-width: 768px) {
  .InnerGIGABYTEContent .nav-block {
    display: block;
  }
  .InnerGIGABYTEContent .container {
    max-width: 720px;
  }
  .InnerGIGABYTEContent .container-fluid {
    max-width: 720px;
  }
  .InnerGIGABYTEContent .s01__banner-wrapper {
    height: 100vh;
  }
  .InnerGIGABYTEContent .s01__banner-text-wrapper {
    width: 50%;
    padding-bottom: 0;
  }
  .InnerGIGABYTEContent .s01__title img,
  .InnerGIGABYTEContent .s01__subtitle img,
  .InnerGIGABYTEContent .s01__hardware-tag img {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .InnerGIGABYTEContent .s01__hardware-tag img {
    margin-left: auto;
    margin-right: 3%;
  }
  .InnerGIGABYTEContent .s01__hardware img {
    padding-top: 55%;
    width: 90%;
  }
  .InnerGIGABYTEContent .s01__hardware {
    width: 50%;
  }
  .InnerGIGABYTEContent .s03__prod {
    padding-bottom: 12%;
    transform: translate(0, -14%);
  }
  .InnerGIGABYTEContent .s03__prod img {
    transform: translate(-2%, 0);
  }
  .InnerGIGABYTEContent .s03__tab2-img {
    width: 100%;
    height: 110%;
    /* background-color: beige; */
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .InnerGIGABYTEContent .s05__tab-area,
  .InnerGIGABYTEContent .s08__tab-area {
    justify-content: center;
    overflow: hidden;
  }
}
/* lg */
@media (min-width: 992px) {
  .InnerGIGABYTEContent .container {
    max-width: 960px;
  }
  .InnerGIGABYTEContent .container-fluid {
    max-width: 100%;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .InnerGIGABYTEContent .s03 {
    padding-bottom: 30px;
  }
  /* .InnerGIGABYTEContent .s03__banner-content {
    min-height: 100vh;
  } */
  .InnerGIGABYTEContent .s03__prod {
    padding-bottom: 20%;
    margin-bottom: -14%;
  }
  .InnerGIGABYTEContent .s04__tab-pane__inner-content__wrapper {
    overflow-x: hidden;
  }
  .InnerGIGABYTEContent .s05__tab-pane_01__feature:not(:last-child) {
    border-right: 1px solid var(--light-grey);
  }

  .InnerGIGABYTEContent .s06 {
    position: relative;
    padding: 5% 0px;
  }
  .InnerGIGABYTEContent .s06__prod__wrapper {
    flex-direction: column;
    margin-top: -50px;
  }
  .InnerGIGABYTEContent .s06__prod__front {
    width: 100%;
  }
  .InnerGIGABYTEContent .s06__prod__front__detail {
    width: 50%;
  }
  .InnerGIGABYTEContent .s06__prod__detail__wrapper {
    width: 100%;
  }
  .InnerGIGABYTEContent .s06__prod__cable {
    width: 80%;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(20%, -50%);
  }
  .InnerGIGABYTEContent .s07 {
    padding: 5% 0;
  }
  .InnerGIGABYTEContent .s08__tab-pane__img01,
  .InnerGIGABYTEContent .s08__tab-pane__img02,
  .InnerGIGABYTEContent .s08__tab-pane__img04,
  .InnerGIGABYTEContent .s08__tab-pane__img05,
  .InnerGIGABYTEContent .s08__tab-pane__img06 {
    height: 40vw;
  }
  .InnerGIGABYTEContent .s05__tab-pane__inner-pane.active {
    display: flex !important;
    justify-content: center;
  }
}
/* xl */
@media (min-width: 1200px) {
  .InnerGIGABYTEContent .container {
    max-width: 1140px;
  }
  .InnerGIGABYTEContent .s01__hardware {
    width: 50%;
  }
  .InnerGIGABYTEContent .s01__hardware img {
    padding-top: 50%;
    width: 85%;
  }
  .InnerGIGABYTEContent .s03__desc span {
    font-size: 6rem;
    line-height: 10.2rem;
  }
  .InnerGIGABYTEContent .s05__tab-content,
  .InnerGIGABYTEContent .s08__tab-content {
    padding: 40px;
    border-radius: 20px;
    border: 3px solid transparent;
    background: linear-gradient(white, white) padding-box,
      var(--main-blue-gradient) border-box;
  }
  .InnerGIGABYTEContent .s05__tab-pane.active,
  .InnerGIGABYTEContent .s08__tab-pane.active {
    gap: 30px;
  }
  .InnerGIGABYTEContent .s05__tab-pane,
  .InnerGIGABYTEContent .s08__tab-pane {
    max-width: 1560px;
    margin: 0 auto;
  }
  .InnerGIGABYTEContent .s05__tab-area,
  .InnerGIGABYTEContent .s08__tab-area {
    padding: 15px;
    max-width: 95%;
    margin: 0 auto;
    gap: 15px;
  }
  .InnerGIGABYTEContent .s06 {
    position: relative;
    padding: 7% 0px 2%;
  }
  .InnerGIGABYTEContent .s09 {
    position: relative;
    padding: 13% 0px;
    overflow: hidden;
  }
  .InnerGIGABYTEContent .s09__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./../innergigabyteimages2/win_bg_pc.png) no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .InnerGIGABYTEContent .s04 {
    padding-bottom: 70px;
  }
  .InnerGIGABYTEContent .s05,
  .InnerGIGABYTEContent .s08 {
    position: relative;
    padding: 70px 0px;
  }
  .InnerGIGABYTEContent .s08__tab-pane__img01 {
    background-size: 100% auto;
  }
  .InnerGIGABYTEContent .s08__tab-pane__img01,
  .InnerGIGABYTEContent .s08__tab-pane__img02,
  .InnerGIGABYTEContent .s08__tab-pane__img04,
  .InnerGIGABYTEContent .s08__tab-pane__img05,
  .InnerGIGABYTEContent .s08__tab-pane__img06 {
    height: 30vw;
    max-height: 400px;
  }
  .InnerGIGABYTEContent .s08__list-container {
    margin: 50px;
  }
  .InnerGIGABYTEContent .s04__tab-content {
    height: 90%;
  }
  /* .InnerGIGABYTEContent .s08__tab-content {
    height: 700px;
  } */
  /* .InnerGIGABYTEContent .mySwiper-wrapper {
    padding-top: 50px;
  } */
  .InnerGIGABYTEContent .s08__tab-area {
    justify-content: center;
    overflow: scroll;
  }
}
@media (min-width: 1600px) {
  .InnerGIGABYTEContent .swiper-button-next {
    z-index: 100;
    transform: translate(-250%, 0);
  }
  .InnerGIGABYTEContent .swiper-button-prev {
    transform: translate(250%, 0);
  }
  .InnerGIGABYTEContent .s08__tab-area {
    justify-content: center;
    overflow: hidden;
  }
}
.InnerGIGABYTEContent .s01__banner-wrapper {
  transform: scale(0.8);
}
