.InnerGIGABYTEContent .h1 {
  font-family: "Rajdhani_Bold";
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 5.6rem !important;
  margin-bottom: 0 !important;
  line-height: 77px;
  /* identical to box height */
  text-transform: capitalize;
  color: #000000;
}
.InnerGIGABYTEContent .h2 {
  font-family: "Rajdhani_Bold";
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 4rem !important;
  margin-bottom: 0 !important;
  line-height: 51px;
  /* identical to box height */
  color: #000000;
}
.InnerGIGABYTEContent .h3 {
  font-family: "Rajdhani_Bold";
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 3.2rem !important;
  margin-bottom: 0 !important;
  line-height: 41px;
  /* identical to box height */
  color: #000000;
}
.InnerGIGABYTEContent .h4 {
  font-family: "Rajdhani_Bold";
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 2.2rem !important;
  margin-bottom: 0 !important;
  line-height: 30px;
  /* identical to box height, or 136% */
  color: #000000;
}
.InnerGIGABYTEContent .p22 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0;
  line-height: 35px;
  /* identical to box height, or 159% */
  color: #000000;
}
.InnerGIGABYTEContent .p23 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 0;
  line-height: 35px;
  /* identical to box height, or 159% */
  color: #000000;
}
.InnerGIGABYTEContent .p14 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 22px;
  /* identical to box height, or 157% */
  letter-spacing: 0.09em;
  text-decoration-line: underline;
}
.InnerGIGABYTEContent .p12 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 15px;
  color: #000000;
}

/* mb */
@media (max-width: 576px) {
  .InnerGIGABYTEContent .m-h1 {
    font-family: "Rajdhani_Bold";
    font-size: 2.4rem !important;
    line-height: 41px;
    font-weight: 700 !important;
  }
  .InnerGIGABYTEContent .m-h3 {
    font-family: "Rajdhani_Bold";
    font-size: 2rem !important;
    line-height: 26px;
    font-weight: 700 !important;
    /* identical to box height */
  }
  .InnerGIGABYTEContent .m-h4 {
    font-weight: 600 !important;
    font-size: 1.5rem !important;
    line-height: 19px;
  }
  .InnerGIGABYTEContent .m-12 {
    font-weight: 400 !important;
    font-size: 1.2rem !important;
    line-height: 18px;
  }
}
/* sm */
@media (min-width: 576px) {
  .InnerGIGABYTEContent .h1 {
    font-size: 3.2rem;
    line-height: 41px;
  }
  .InnerGIGABYTEContent .m-h1 {
    font-family: "Rajdhani_Bold";
    font-size: 3.2rem !important;
    line-height: 41px;
    font-weight: 700 !important;
  }
  .InnerGIGABYTEContent .m-h3 {
    font-size: 2rem !important;
    line-height: 26px;
    /* identical to box height */
  }
  .InnerGIGABYTEContent .m-h4 {
    font-weight: 600 !important;
    font-size: 1.5rem !important;
    line-height: 19px;
  }
  .InnerGIGABYTEContent .m-12 {
    font-weight: 400 !important;
    font-size: 1.2rem !important;
    line-height: 18px;
  }
}
/* md */
@media (min-width: 768px) {
  .InnerGIGABYTEContent .container {
    max-width: 720px;
  }
}
/* lg */
@media (min-width: 992px) {
  .InnerGIGABYTEContent .container {
    max-width: 960px;
  }
  .InnerGIGABYTEContent .p22 {
    font-family: "Rajdhani";
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 1.6rem !important;
    margin-bottom: 0;
    line-height: 20px;
    /* identical to box height, or 159% */
    color: #000000;
  }
  .InnerGIGABYTEContent .p23 {
    font-family: "Rajdhani";
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 1.4rem !important;
    margin-bottom: 0;
    line-height: 20px;
    /* identical to box height, or 159% */
    color: #000000;
  }
  .InnerGIGABYTEContent .h2 {
    font-family: "Rajdhani_Bold";
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 3.2rem !important;
    margin-bottom: 0 !important;
    line-height: 31px;
    /* identical to box height */
    color: #000000;
  }
}
/* xl */
@media (min-width: 1200px) {
  .InnerGIGABYTEContent .container {
    max-width: 1140px;
  }
  .InnerGIGABYTEContent .h1 {
    font-family: "Rajdhani_Bold";
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 3.5rem !important;
    margin-bottom: 0 !important;
    line-height: 77px;
    /* identical to box height */
    text-transform: capitalize;
    color: #000000;
  }
  .InnerGIGABYTEContent .h2 {
    font-family: "Rajdhani_Bold";
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 3.2rem !important;
    margin-bottom: 0 !important;
    line-height: 51px;
    /* identical to box height */
    color: #000000;
  }
  .InnerGIGABYTEContent .h3 {
    font-family: "Rajdhani_Bold";
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 2.8rem !important;
    margin-bottom: 0 !important;
    line-height: 41px;
    /* identical to box height */
    color: #000000;
  }
  .InnerGIGABYTEContent .h4 {
    font-family: "Rajdhani_Bold";
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 2rem !important;
    margin-bottom: 0 !important;
    line-height: 30px;
    /* identical to box height, or 136% */
    color: #000000;
  }
  .InnerGIGABYTEContent .p22 {
    font-family: "Rajdhani";
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 2rem !important;
    margin-bottom: 0;
    line-height: 35px;
    /* identical to box height, or 159% */
    color: #000000;
  }
  .InnerGIGABYTEContent .p23 {
    font-family: "Rajdhani";
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 1.7rem !important;
    margin-bottom: 0;
    line-height: 35px;
    /* identical to box height, or 159% */
    color: #000000;
  }
}
